## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(['EIN', 'NAME'], axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
df.astype('object').describe(include='all').loc['unique', :]

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
Name: unique, dtype: object

In [5]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Cutoff applications types with less than 500 entries 

app_counts = df['APPLICATION_TYPE'].value_counts().to_frame().reset_index()
app_counts2 = app_counts.loc[app_counts['APPLICATION_TYPE'] < 500]    
application_types_to_replace = app_counts2['index'].tolist()

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1900        1
C4500        1
C6100        1
C2500        1
C1245        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts >1
df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1267        2
C1234        2
C1246        2
C1256        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Cutoff classifications with less than 1000 entries 

class_counts = df['CLASSIFICATION'].value_counts().to_frame().reset_index()
class_counts2 = class_counts.loc[class_counts['CLASSIFICATION'] < 1000]    
classifications_to_replace = class_counts2['index'].tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(df, prefix=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'])
dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [23]:
# Remove outliers from ASK_AMT column

# Explore range of values in ASK_AMT column
max_ask = dummies['ASK_AMT'].max()
min_ask = dummies['ASK_AMT'].min()
mean_ask = dummies['ASK_AMT'].median()
print(f'Min: {min_ask}')
print(f'Max: {max_ask}')
print(f'Median: {mean_ask}')

# Look for outliers in ASK_AMT column
Q1 = dummies['ASK_AMT'].quantile(0.25)
Q3 = dummies['ASK_AMT'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1-(1.5*IQR)
upper_bound = Q3+(1.5*IQR)
print(f'IQR:{IQR}')
print(f'Upper Bound: {upper_bound}')
print(f'Lower Bound: {lower_bound}')

# Remove outliers from dataset
dummies2 = dummies.loc[dummies['ASK_AMT'] < upper_bound]
dummies2.astype('object').describe(include='all').loc['unique', :]

# Over 8,000 outliers removed from ASK_AMT dataset

Min: 5000
Max: 8597806340
Median: 5000.0
IQR:2742.0
Upper Bound: 11855.0
Lower Bound: 887.0

STATUS                            2
ASK_AMT                         656
IS_SUCCESSFUL                     2
APPLICATION_TYPE_Other            2
APPLICATION_TYPE_T10              2
APPLICATION_TYPE_T19              2
APPLICATION_TYPE_T3               2
APPLICATION_TYPE_T4               2
APPLICATION_TYPE_T5               2
APPLICATION_TYPE_T6               2
APPLICATION_TYPE_T7               2
APPLICATION_TYPE_T8               2
AFFILIATION_CompanySponsored      2
AFFILIATION_Family/Parent         2
AFFILIATION_Independent           2
AFFILIATION_National              2
AFFILIATION_Other                 2
AFFILIATION_Regional              2
CLASSIFICATION_C1000              2
CLASSIFICATION_C1200              2
CLASSIFICATION_C2000              2
CLASSIFICATION_C2100              2
CLASSIFICATION_C3000              2
CLASSIFICATION_Other              2
USE_CASE_CommunityServ            2
USE_CASE_Heathcare                2
USE_CASE_Other                    2
USE_CASE_Preservation             2
USE_CASE_ProductDev               2
ORGANIZATION_Association          2
ORGANIZATION_Co-operative         2
ORGANIZATION_Corporation          2
ORGANIZATION_Trust                2
INCOME_AMT_0                      2
INCOME_AMT_1-9999                 2
INCOME_AMT_10000-24999            2
INCOME_AMT_100000-499999          2
INCOME_AMT_10M-50M                2
INCOME_AMT_1M-5M                  2
INCOME_AMT_25000-99999            2
INCOME_AMT_50M+                   2
INCOME_AMT_5M-10M                 2
SPECIAL_CONSIDERATIONS_N          2
SPECIAL_CONSIDERATIONS_Y          2
Name: unique, dtype: int64

### Optimization Trial 1: Model dataframe with ASK_AMT outliers removed

In [24]:
# Split our preprocessed data into our features and target arrays
X = dummies2.drop(['IS_SUCCESSFUL'], axis=1)
y = dummies2['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Create the Keras Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3520
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Katli\.conda\envs\venv\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
19569/19569 [==============================] - 1s 51us/sample - loss: 0.5558 - acc: 0.7343
Epoch 2/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5394 - acc: 0.7446
Epoch 3/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5366 - acc: 0.74300s - loss: 0.5400 -
Epoch 4/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5337 - acc: 0.7439
Epoch 5/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5339 - acc: 0.7460
Epoch 6/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5326 - acc: 0.7443
Epoch 7/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5319 - acc: 0.74600s - loss: 0.5291 - acc:
Epoch 8/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5309 - acc: 0.7468
Epoch 9/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5307 - acc: 0.7472
Epoch 10/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5294 - acc: 0.7483
Epoch 11/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5295 - acc: 0.7479
Epoch 12/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5296 - acc: 0.7476
Epoch 13/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5291 - acc: 0.7466
Epoch 14/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5282 - acc: 0.7477
Epoch 15/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5283 - acc: 0.7475
Epoch 16/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5279 - acc: 0.7488
Epoch 17/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5278 - acc: 0.7501
Epoch 18/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5274 - acc: 0.74980s - loss: 0.5230 - a
Epoch 19/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5273 - acc: 0.74990s - loss: 0.51
Epoch 20/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5265 - acc: 0.7499
Epoch 21/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5267 - acc: 0.7483
Epoch 22/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5263 - acc: 0.7498
Epoch 23/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5262 - acc: 0.75060s - loss: 0.5229 - acc:  - ETA: 0s - loss: 0.5219 - acc: 0.7
Epoch 24/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5261 - acc: 0.7495
Epoch 25/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5262 - acc: 0.7497
Epoch 26/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5257 - acc: 0.7500
Epoch 27/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5251 - acc: 0.7507
Epoch 28/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5252 - acc: 0.7493
Epoch 29/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5251 - acc: 0.7513
Epoch 30/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5256 - acc: 0.7490
Epoch 31/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5246 - acc: 0.7505
Epoch 32/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5247 - acc: 0.7514
Epoch 33/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5244 - acc: 0.7513
Epoch 34/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5239 - acc: 0.75060s - loss: 0.5245 - acc:
Epoch 35/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5244 - acc: 0.7512
Epoch 36/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5240 - acc: 0.7508
Epoch 37/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5238 - acc: 0.7510
Epoch 38/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5238 - acc: 0.7516
Epoch 39/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5243 - acc: 0.75070s - loss: 0.5196 -
Epoch 40/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5232 - acc: 0.75050s - loss: 0.5
Epoch 41/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5231 - acc: 0.7520
Epoch 42/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5227 - acc: 0.7505
Epoch 43/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5232 - acc: 0.75200s - loss: 0.5221 -
Epoch 44/100
19569/19569 [==============================] - ETA: 0s - loss: 0.5214 - acc: 0.751 - 1s 50us/sample - loss: 0.5224 - acc: 0.7510
Epoch 45/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5227 - acc: 0.7527
Epoch 46/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5228 - acc: 0.75120s - loss: 0.5257
Epoch 47/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5226 - acc: 0.75180s - loss: 0.5224 - acc: 0.7
Epoch 48/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5225 - acc: 0.7518
Epoch 49/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5232 - acc: 0.75170s - loss: 0.5221 -
Epoch 50/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5220 - acc: 0.7515
Epoch 51/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5222 - acc: 0.7515
Epoch 52/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5221 - acc: 0.7525
Epoch 53/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5218 - acc: 0.75190s - loss: 0.5210 - acc: 0.
Epoch 54/100
19569/19569 [==============================] - 1s 52us/sample - loss: 0.5216 - acc: 0.7528
Epoch 55/100
19569/19569 [==============================] - 1s 63us/sample - loss: 0.5220 - acc: 0.7521
Epoch 56/100
19569/19569 [==============================] - 1s 65us/sample - loss: 0.5221 - acc: 0.7523
Epoch 57/100
19569/19569 [==============================] - 2s 79us/sample - loss: 0.5214 - acc: 0.7510
Epoch 58/100
19569/19569 [==============================] - 1s 62us/sample - loss: 0.5218 - acc: 0.7526
Epoch 59/100
19569/19569 [==============================] - 1s 59us/sample - loss: 0.5214 - acc: 0.7522
Epoch 60/100
19569/19569 [==============================] - 1s 54us/sample - loss: 0.5219 - acc: 0.7515
Epoch 61/100
19569/19569 [==============================] - 1s 51us/sample - loss: 0.5212 - acc: 0.7521
Epoch 62/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5223 - acc: 0.7521
Epoch 63/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5213 - acc: 0.7522
Epoch 64/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5215 - acc: 0.7514
Epoch 65/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5211 - acc: 0.7523
Epoch 66/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5214 - acc: 0.75250s - loss: 0.5240 - acc:
Epoch 67/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5214 - acc: 0.7517
Epoch 68/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5208 - acc: 0.7529
Epoch 69/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5208 - acc: 0.7524
Epoch 70/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5214 - acc: 0.7529
Epoch 71/100
19569/19569 [==============================] - 1s 52us/sample - loss: 0.5206 - acc: 0.7525
Epoch 72/100
19569/19569 [==============================] - 1s 51us/sample - loss: 0.5213 - acc: 0.7520
Epoch 73/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5206 - acc: 0.7538
Epoch 74/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5210 - acc: 0.7524
Epoch 75/100
19569/19569 [==============================] - 1s 50us/sample - loss: 0.5205 - acc: 0.7526
Epoch 76/100

19569/19569 [==============================] - 1s 47us/sample - loss: 0.5205 - acc: 0.7530
Epoch 77/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5208 - acc: 0.7521
Epoch 78/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5204 - acc: 0.7529
Epoch 79/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5204 - acc: 0.7523
Epoch 80/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5202 - acc: 0.7526
Epoch 81/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5207 - acc: 0.7529
Epoch 82/100
19569/19569 [==============================] - 1s 52us/sample - loss: 0.5202 - acc: 0.7525
Epoch 83/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5202 - acc: 0.75270s - loss: 0.5215 - - ETA: 0s - loss: 0.5186 - acc: 0.
Epoch 84/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5202 - acc: 0.7528
Epoch 85/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5201 - acc: 0.7534
Epoch 86/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5202 - acc: 0.7522
Epoch 87/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5200 - acc: 0.7528
Epoch 88/100
19569/19569 [==============================] - 1s 50us/sample - loss: 0.5197 - acc: 0.75300s - loss: 0.5167 - acc:
Epoch 89/100
19569/19569 [==============================] - 1s 60us/sample - loss: 0.5197 - acc: 0.7528
Epoch 90/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5198 - acc: 0.7530
Epoch 91/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5194 - acc: 0.7532
Epoch 92/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5198 - acc: 0.7529
Epoch 93/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5200 - acc: 0.7533
Epoch 94/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5201 - acc: 0.7531
Epoch 95/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5197 - acc: 0.7530
Epoch 96/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5194 - acc: 0.7533
Epoch 97/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5196 - acc: 0.7527
Epoch 98/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5194 - acc: 0.7534
Epoch 99/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5194 - acc: 0.7535
Epoch 100/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5192 - acc: 0.7524

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

6524/6524 - 0s - loss: 0.5357 - acc: 0.7520
Loss: 0.53574636013942, Accuracy: 0.7519926428794861

In [63]:
# Export our model to HDF5 file
nn.save_weights('AlphabetSoupCharity_Optimization.hdf5')

### Optimization Trial 2: Change model parameters, with outliers removed

In [53]:
# Number of nuerons in hidden layers changed in this model

# Split our preprocessed data into our features and target arrays
X = dummies2.drop(['IS_SUCCESSFUL'], axis=1)
y = dummies2['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create the Keras Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 50)                2200
_________________________________________________________________
dense_16 (Dense)             (None, 10)                510
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 11
=================================================================
Total params: 2,721
Trainable params: 2,721
Non-trainable params: 0
_________________________________________________________________

In [54]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [61]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
19569/19569 [==============================] - 1s 73us/sample - loss: 0.5158 - acc: 0.7543
Epoch 2/100
19569/19569 [==============================] - 1s 73us/sample - loss: 0.5158 - acc: 0.7546
Epoch 3/100
19569/19569 [==============================] - 1s 68us/sample - loss: 0.5158 - acc: 0.7549
Epoch 4/100
19569/19569 [==============================] - 1s 68us/sample - loss: 0.5159 - acc: 0.7545
Epoch 5/100
19569/19569 [==============================] - 1s 60us/sample - loss: 0.5157 - acc: 0.7542
Epoch 6/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5163 - acc: 0.7539
Epoch 7/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5158 - acc: 0.7545
Epoch 8/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5157 - acc: 0.7551
Epoch 9/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5158 - acc: 0.7546
Epoch 10/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5158 - acc: 0.7543
Epoch 11/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5157 - acc: 0.7547
Epoch 12/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5157 - acc: 0.7543
Epoch 13/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5159 - acc: 0.75430s - loss: 0.5116 - acc: 0.
Epoch 14/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5159 - acc: 0.7545
Epoch 15/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5161 - acc: 0.7548
Epoch 16/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5158 - acc: 0.7546
Epoch 17/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5157 - acc: 0.7541
Epoch 18/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5158 - acc: 0.7540
Epoch 19/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5159 - acc: 0.7543
Epoch 20/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5161 - acc: 0.7542
Epoch 21/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5155 - acc: 0.75420s - loss: 0.5130 - acc: 0.7
Epoch 22/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5153 - acc: 0.7543
Epoch 23/100
19569/19569 [==============================] - 1s 53us/sample - loss: 0.5157 - acc: 0.7547
Epoch 24/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5157 - acc: 0.7546
Epoch 25/100
19569/19569 [==============================] - 1s 54us/sample - loss: 0.5158 - acc: 0.75430s - loss: 0.5148 -
Epoch 26/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5158 - acc: 0.75400s - loss: 0.5136 - ac
Epoch 27/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5156 - acc: 0.7542
Epoch 28/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5156 - acc: 0.7552
Epoch 29/100
19569/19569 [==============================] - 1s 54us/sample - loss: 0.5155 - acc: 0.7545
Epoch 30/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5155 - acc: 0.7539
Epoch 31/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5155 - acc: 0.7549
Epoch 32/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5158 - acc: 0.75490s - loss: 0.5159 -
Epoch 33/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5161 - acc: 0.7546
Epoch 34/100
19569/19569 [==============================] - 1s 52us/sample - loss: 0.5158 - acc: 0.7545
Epoch 35/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5156 - acc: 0.75450s - loss: 0.5141 - a
Epoch 36/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5158 - acc: 0.7537
Epoch 37/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5162 - acc: 0.7544
Epoch 38/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5157 - acc: 0.7543
Epoch 39/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5153 - acc: 0.7544
Epoch 40/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5156 - acc: 0.7545
Epoch 41/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5158 - acc: 0.7540
Epoch 42/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5156 - acc: 0.7546
Epoch 43/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5159 - acc: 0.75460s - loss: 0.5
Epoch 44/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5158 - acc: 0.7545
Epoch 45/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5157 - acc: 0.7547
Epoch 46/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5158 - acc: 0.7545
Epoch 47/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5153 - acc: 0.7546
Epoch 48/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5157 - acc: 0.7545
Epoch 49/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5157 - acc: 0.7546
Epoch 50/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5161 - acc: 0.7548
Epoch 51/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5152 - acc: 0.7545
Epoch 52/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5156 - acc: 0.7546
Epoch 53/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5163 - acc: 0.7544
Epoch 54/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5158 - acc: 0.7547
Epoch 55/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5154 - acc: 0.7547
Epoch 56/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5156 - acc: 0.7549
Epoch 57/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5160 - acc: 0.7545
Epoch 58/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5154 - acc: 0.7546
Epoch 59/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5155 - acc: 0.7544
Epoch 60/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5156 - acc: 0.75430s - loss: 0.5132 - acc: 0.
Epoch 61/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5155 - acc: 0.7546
Epoch 62/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5155 - acc: 0.7548
Epoch 63/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5155 - acc: 0.7545
Epoch 64/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5159 - acc: 0.7550
Epoch 65/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5158 - acc: 0.7550
Epoch 66/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5157 - acc: 0.75490s - loss: 0.5165 - acc: 0
Epoch 67/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5154 - acc: 0.7546
Epoch 68/100
19569/19569 [==============================] - 1s 53us/sample - loss: 0.5153 - acc: 0.7543
Epoch 69/100
19569/19569 [==============================] - 1s 60us/sample - loss: 0.5154 - acc: 0.7544
Epoch 70/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5154 - acc: 0.7546
Epoch 71/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5156 - acc: 0.75420s - loss: 0.5147 - acc: 0.
Epoch 72/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5155 - acc: 0.7543
Epoch 73/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5156 - acc: 0.75400s - loss: 0.5151 - a
Epoch 74/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5153 - acc: 0.7550
Epoch 75/100
19569/19569 [==============================] - 1s 50us/sample - loss: 0.5161 - acc: 0.7542
Epoch 76/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5155 - acc: 0.7549
Epoch 77/100

19569/19569 [==============================] - 1s 43us/sample - loss: 0.5156 - acc: 0.75470s - loss: 0.5114 - ac
Epoch 78/100
19569/19569 [==============================] - 1s 49us/sample - loss: 0.5155 - acc: 0.7550
Epoch 79/100
19569/19569 [==============================] - 1s 55us/sample - loss: 0.5158 - acc: 0.7544
Epoch 80/100
19569/19569 [==============================] - 1s 52us/sample - loss: 0.5157 - acc: 0.7543
Epoch 81/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5168 - acc: 0.7544
Epoch 82/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5154 - acc: 0.7550
Epoch 83/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5155 - acc: 0.7543
Epoch 84/100
19569/19569 [==============================] - 1s 47us/sample - loss: 0.5154 - acc: 0.7546
Epoch 85/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5155 - acc: 0.7547
Epoch 86/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5152 - acc: 0.7545
Epoch 87/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5154 - acc: 0.7546
Epoch 88/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5155 - acc: 0.7547
Epoch 89/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5159 - acc: 0.7544
Epoch 90/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5156 - acc: 0.7544
Epoch 91/100
19569/19569 [==============================] - 1s 48us/sample - loss: 0.5152 - acc: 0.7546
Epoch 92/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5159 - acc: 0.7547
Epoch 93/100
19569/19569 [==============================] - 1s 46us/sample - loss: 0.5156 - acc: 0.7543
Epoch 94/100
19569/19569 [==============================] - 1s 44us/sample - loss: 0.5154 - acc: 0.7545
Epoch 95/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5158 - acc: 0.75480s - loss: 0.5
Epoch 96/100
19569/19569 [==============================] - 1s 41us/sample - loss: 0.5153 - acc: 0.7548
Epoch 97/100
19569/19569 [==============================] - 1s 43us/sample - loss: 0.5154 - acc: 0.7547
Epoch 98/100
19569/19569 [==============================] - 1s 45us/sample - loss: 0.5154 - acc: 0.7545
Epoch 99/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5152 - acc: 0.7543
Epoch 100/100
19569/19569 [==============================] - 1s 42us/sample - loss: 0.5154 - acc: 0.7545

In [62]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

6524/6524 - 0s - loss: 0.5420 - acc: 0.7498
Loss: 0.5420252736143946, Accuracy: 0.7498466968536377

### Optimization Trial 3: Bin ASK_AMT data, keeping outliers

In [36]:
# Create bins for ASK_AMT column
bins = [5000,10000,15000,20000,25000,30000,35000,40000,100000,1000000]
group_name = ['5,000-10000','>10,000-15,000','>15,000-20,000','>20,000-25,000','>25,000-30,000','>30,000-35,000','>35,000-40,000','>40,000-100,000','>100,000-1,000,000']
dummies['ASK_Bins']=pd.cut(dummies['ASK_AMT'],bins,labels=group_name,include_lowest=True)

# Drop ASK_AMT column
dummies3 = dummies.drop(['ASK_AMT'], axis=1)

# Convert bin column to numeric values 
dummies3 = pd.get_dummies(dummies3, prefix=['ASK_Bins'])
dummies3.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,SPECIAL_CONSIDERATIONS_Y,"ASK_Bins_5,000-10000","ASK_Bins_>10,000-15,000","ASK_Bins_>15,000-20,000","ASK_Bins_>20,000-25,000","ASK_Bins_>25,000-30,000","ASK_Bins_>30,000-35,000","ASK_Bins_>35,000-40,000","ASK_Bins_>40,000-100,000","ASK_Bins_>100,000-1,000,000"
0,1,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [37]:
# Split our preprocessed data into our features and target arrays
X = dummies3.drop(['IS_SUCCESSFUL'], axis=1)
y = dummies3['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)

In [38]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [47]:
# Create the Keras Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=51))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 80)                4160
_________________________________________________________________
dense_10 (Dense)             (None, 30)                2430
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 31
=================================================================
Total params: 6,621
Trainable params: 6,621
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5704 - acc: 0.7212
Epoch 2/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5523 - acc: 0.7309
Epoch 3/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5486 - acc: 0.7320
Epoch 4/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5461 - acc: 0.7332
Epoch 5/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5443 - acc: 0.73300s - loss: 0.5455 - acc:
Epoch 6/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5424 - acc: 0.7352
Epoch 7/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5420 - acc: 0.7363
Epoch 8/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5411 - acc: 0.7357
Epoch 9/100
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5404 - acc: 0.7361
Epoch 10/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5392 - acc: 0.7364
Epoch 11/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5386 - acc: 0.73770s - loss: 0.5371 - acc: 0. - ETA: 0s - loss: 0.5387 - acc: 0.737
Epoch 12/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5384 - acc: 0.73790s - loss: 0.
Epoch 13/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5380 - acc: 0.7373
Epoch 14/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5370 - acc: 0.7386
Epoch 15/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5363 - acc: 0.73761s - los
Epoch 16/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5356 - acc: 0.7375
Epoch 17/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5349 - acc: 0.7385
Epoch 18/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5351 - acc: 0.73850s - loss: 0.5348 - acc: 0.740 - ETA: 0s - loss: 0.5370
Epoch 19/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5346 - acc: 0.7397
Epoch 20/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5335 - acc: 0.7399
Epoch 21/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5332 - acc: 0.74010s - loss: 0.5310 - a
Epoch 22/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5322 - acc: 0.73950s - loss: 0.5323 -
Epoch 23/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5327 - acc: 0.7407
Epoch 24/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5321 - acc: 0.7427
Epoch 25/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5320 - acc: 0.7411
Epoch 26/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5317 - acc: 0.7417
Epoch 27/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5311 - acc: 0.7412
Epoch 28/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5309 - acc: 0.7418
Epoch 29/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5307 - acc: 0.7401
Epoch 30/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5304 - acc: 0.7418
Epoch 31/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5298 - acc: 0.7424
Epoch 32/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5297 - acc: 0.7419
Epoch 33/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5299 - acc: 0.7418
Epoch 34/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5294 - acc: 0.7420
Epoch 35/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5287 - acc: 0.7422
Epoch 36/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5285 - acc: 0.7443
Epoch 37/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5285 - acc: 0.7432
Epoch 38/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5285 - acc: 0.7428
Epoch 39/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5279 - acc: 0.7424
Epoch 40/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5279 - acc: 0.7428
Epoch 41/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5276 - acc: 0.74310s - loss: 0.5266 - acc: 0
Epoch 42/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5276 - acc: 0.7419
Epoch 43/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5271 - acc: 0.74360s - loss: 0.5278 - acc: - ETA: 0s - loss: 0.5274 - acc: 0.743
Epoch 44/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5272 - acc: 0.7431
Epoch 45/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5267 - acc: 0.7441
Epoch 46/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5261 - acc: 0.7436
Epoch 47/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5264 - acc: 0.74230s - loss: 0.5321 - acc - ETA: 0s - loss: 0.5267 - ac - ETA: 0s - loss: 0.5252 - acc:
Epoch 48/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5261 - acc: 0.7444
Epoch 49/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5262 - acc: 0.74520s - loss: 0.
Epoch 50/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5260 - acc: 0.7434
Epoch 51/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5255 - acc: 0.7445
Epoch 52/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5258 - acc: 0.74270s - loss: 0.51
Epoch 53/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5255 - acc: 0.7440
Epoch 54/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5253 - acc: 0.7440
Epoch 55/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5251 - acc: 0.7438
Epoch 56/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5252 - acc: 0.7434
Epoch 57/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5251 - acc: 0.7444
Epoch 58/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5246 - acc: 0.7434
Epoch 59/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5248 - acc: 0.7435
Epoch 60/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5236 - acc: 0.7445
Epoch 61/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5241 - acc: 0.7449
Epoch 62/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5244 - acc: 0.7445
Epoch 63/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5239 - acc: 0.7445
Epoch 64/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5238 - acc: 0.7454
Epoch 65/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5239 - acc: 0.74450s - loss:
Epoch 66/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5238 - acc: 0.74580s - loss: 0.5239 - ac
Epoch 67/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5233 - acc: 0.7441
Epoch 68/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5230 - acc: 0.7441
Epoch 69/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5230 - acc: 0.7449
Epoch 70/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5234 - acc: 0.74441s - loss: 0.5223 - acc: 0.7 - ETA: 0s - loss: 0.
Epoch 71/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5232 - acc: 0.7449
Epoch 72/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5229 - acc: 0.74340s - loss: 0.5237 - acc:
Epoch 73/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5227 - acc: 0.7446
Epoch 74/100

25724/25724 [==============================] - 1s 51us/sample - loss: 0.5227 - acc: 0.7456
Epoch 75/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5221 - acc: 0.7448
Epoch 76/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5230 - acc: 0.7446
Epoch 77/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5227 - acc: 0.7455
Epoch 78/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5225 - acc: 0.7436
Epoch 79/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5218 - acc: 0.74440s - loss: 0.5215 - acc:
Epoch 80/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5225 - acc: 0.74441s - los
Epoch 81/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5211 - acc: 0.7445
Epoch 82/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5217 - acc: 0.74530s - loss: 0.5082
Epoch 83/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5218 - acc: 0.7453
Epoch 84/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5213 - acc: 0.7456
Epoch 85/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5218 - acc: 0.7465
Epoch 86/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5212 - acc: 0.7449
Epoch 87/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5217 - acc: 0.74511s - lo
Epoch 88/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5213 - acc: 0.7452
Epoch 89/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5209 - acc: 0.74601s - loss:  - ETA: 0s - loss: 0.5209 - acc: 0.
Epoch 90/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5216 - acc: 0.74571s - los
Epoch 91/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5196 - acc: 0.747 - 1s 50us/sample - loss: 0.5208 - acc: 0.7460
Epoch 92/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5207 - acc: 0.7451
Epoch 93/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5210 - acc: 0.7446
Epoch 94/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5209 - acc: 0.7458
Epoch 95/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5209 - acc: 0.7450
Epoch 96/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5207 - acc: 0.74510s - loss: 0.5156 - a
Epoch 97/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5204 - acc: 0.7452
Epoch 98/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5206 - acc: 0.7448
Epoch 99/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5204 - acc: 0.7450
Epoch 100/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5206 - acc: 0.7452

In [60]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

6524/6524 - 0s - loss: 0.5416 - acc: 0.7503
Loss: 0.5416244672603362, Accuracy: 0.7503065466880798